:root{
    display: inline-block;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    max-height: 100vh; 
}

div{
    /*border: 12px solid black;*/
    margin: 0;
    padding: 0;
}

/*Header*/

.header{
    grid-column: 2/2;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
}

.top-header, .bottom-header{
    /*border: 12px solid blue;*/
}

.top-header{
    padding: 24px 0 0 24px;
    display: flex;
    align-items: baseline;
    /*border: 2px solid black;*/
}

input{
    width: 500px;
    height: 24px;
    margin: 0 120px 0 12px;
    position: relative;
    bottom: 20px;
    border: none;
    border-radius: 15px;
    background-color: lightgray;
}

.top-header img, .bottom-header img{
    max-width: 48px;
}

/*img{
    max-width: 24px;
}*/

#bell, #cat1, #name{
    margin-left: 12px;
}

#name{
    position: relative;
    bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.bottom-header{
    padding-left: 24px;
    display: flex;
    align-items: baseline;
    padding-top: 6px;
}

#cat2{
    margin-right: 12px;
    
}

.label-header{
    display:flex;
    flex-direction: column;
    position: relative;
    bottom: 28px;
    font-size: 16px;
    font-weight: bold;
    margin-right:300px; 
}

#label-header-l2{
    font-size: 24px;
}

.header-buttons{
    position: relative;
    bottom: 12px;
}

#btn-new, #btn-up, #btn-sh{
    border: none;
    color: white;
    background-color: blue;
    padding: 12px;
    width: 98px;
    border-radius: 15px;
    margin-right: 18px;
}



.main-content{
    grid-row: 2/2;
    grid-column: 2/2;
    
}

/*Nav part*/

.nav{
    grid-row: 1/2;
    height: 98vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: blue;
    color: white;
    padding: 12px;
    padding-bottom: 0;
}

.nav img{
    max-width: 40px;
    filter: invert(1);
}

.nav label{
    position: relative;
    padding-top: 12px;
    right: 48px;
    font-weight: bold;
}

#img-Dashboard, #Dashboard{
    padding-bottom: 36px;
}

#img-Dashboard{
    width: 48px;
}

#Dashboard{
    font-size: 24px;
    padding-top: 6px;
}

#Communities, #img-Communities{
    padding-bottom: 72px;
}